<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/main.css" media="screen" />
</head> 
<body>
    <!--CSS Styling: https://www.studytonight.com/css-howtos/how-to-style-a-header-using-css#:~:text=To%20customize%20the%20header%20elements,header%20components%20and%20so%20on.-->
    <div class="header">
        <h1>Motorcycle Mileage Tracker</h1>
    </div>
    <div class="mileage_form">
        <form method="post">
            Vehicle: <input name="vehicle"/>
            <br/><br/>
            Current Mileage: <input name="mileage"/>
            <br/><br/>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>